{
  "postgres": {
    "host": "localhost",
    "port": "5432",
    "database": "midja_map",
    "user": "publicuser",
    "password": ""
  },
  "redis": {
    "host": "localhost",
    "port": "6379"
  }
}
